/*主题配色*/

body.color-scheme-options-monochrome-topaz.all-dark .print.theme-light,
body.color-scheme-options-monochrome-topaz.theme-dark {
  --background-primary: rgb(55, 54, 54) !important;
  --background-primary-alt: var(--background-primary-alt-bg-4-bt, #000000);
  --background-secondary: var(--background-secondary-bg-4-bt, #151515);
  --background-secondary-alt: var(--background-secondary-alt-bg-4-bt, #000000);
  --accent-em: #ffffff;
  --accent-h: 0;
  --accent-s: 0%;
  --accent-l: 47%;
  --interactive-accent-rgb: red;
  --interactive-normal: rgb(55, 54, 54) !important;

  --text-highlight-bg: #89853b8a;
  --mark-highlight-strong-em: #fff7603a;
  --strong-em-highlight-color: #ffffff;
  --text-search-highlight-bg: #bb4361;

  --search-result-file-title-color: var(--text-normal);

  --color-specification: #3ce252;

  --background-blockquote: #9191911c;
  --background-code: #1111118c;
  --background-code-2: #4c4c4cb0;
  --text-color-code: #d58000;

  --internal-link-color: #3197eb;
  --list-ul-block-color: #d0d0d0a9;
  --list-ul-disc-color: #eb9563;
  --green-1: #79c142;
  --list-ul-hover: #e28915de;
  --list-ol-block-color: #878787b4;
  --list-ol-number-color: #bdbdbd;
  --list-ol-hover: #2c7bd6;
  --tag-text: #e4e4e4;
  --stag1: #f08383;
  --stag1-bg: #bd1919;
  --stag2: #e7b263;
  --stag2-bg: #ac6700;
  --stag3: #77df89;
  --stag3-bg: #058c1c;
  --tag1: #cccccc;
  --tag2: #cccccc;
  --tag3: #cccccc;
  --tag4: #cccccc;
  --tag5: #cccccc;
  --tag-dailynote: #98c8ff;
  --tag-dailynote-bg: #0f60bd;
  --tag-weeklynote: #d1e6ff;
  --tag-weeklynote-bg: #3971b1;
  --tag-questions: #d4bdff;
  --tag-questions-bg: #6640ae;
  --tag-ideas: #fcfcc0;
  --tag-ideas-bg: #565656d8;

  --h1-color: var(--print-h1-color, #ebebeb);
  --h2-color: var(--print-h2-color, #ebebeb);
  --h3-color: var(--print-h3-color, #ebebeb);
  --h4-color: var(--print-h4-color, #ebebeb);
  --h5-color: var(--print-h5-color, #ebebeb);
  --h6-color: var(--print-h6-color, #ebebeb);

  /*graph*/
  --graph-text-color: #b5b5b5;
  --graph-tag: #88d842bb;
  --graph-attach: #5cb5e9bb;
  --graph-circle: #ebebebb9;
  --graph-line: #8c8c8c;
  --graph-unresolved: #f08080de;
  --graph-arrow: #c23917;
  --graph-control-bg: #00000080;

  /*mermaid*/
  --mermaid-active-task-color: #187ef1;
  --mermaid-seq-dia-color: #1371be;

  --table-border-color: #878787;
  --table-thead-background-color: #b3b3b363;
  --table-hover-raw-color: #4040401c;
  --table-hover-color: #59595947;
  --table-hover-thead-color: #6969691c;

  /*calendar*/
  --calendar-week-color: #ededed;
  --calendar-week-hover: #bfbfbf52;
  --calendar-week-background-color: #b5b5b52e;
  --calendar-today-background-color: #8c4545;

  /*day planner*/
  --day-planner-pie: #f19c1c;
  --day-planner-timeline: #000000;
  --day-planner-line: #dfcf77;
  --day-planner-dot: #dfcf77;
  --day-planner-item-hover: #707070;
  --event-item-color1: #0a0a0a;
  --event-item-color2: #121212;
  --event-item-color3: #171717;
  --event-item-color4: #212121;
  --event-item-color5: #2b2b2b;
  --event-item-color6: #333333;
  --event-item-color7: #3d3d3d;
  --event-item-color8: #454545;
  --event-item-color9: #4d4d4d;
  --event-item-color10: #575757;

  /*Sliding panes*/
  --sliding-panes-header-color: #ebebeb;
  --background-4-sliding-pane: #252525ed;

  --color-view-header-gradient-1: #000000de;
  --color-view-header-gradient-2: #000000c0;

  --table-color-calendar-2: rgb(69, 69, 69);
  --table-color-rgb: 69, 69, 69;

  /*modal*/
  --my-modal-background: rgb(55, 54, 54);
  --dialog-max-width: 50%;
}

body.color-scheme-options-monochrome-topaz .theme-light,
body.color-scheme-options-monochrome-topaz.theme-light {
  --background-primary: var(--background-primary-bg-4-bt, #ffffff);
  --background-primary-alt: var(--background-primary-alt-bg-4-bt, #e9e9e9);
  --background-secondary: var(--background-secondary-bg-4-bt, #ffffff);
  --background-secondary-alt: var(--background-secondary-alt-bg-4-bt, #f5f5f5);
  --accent-strong: #000000;
  --accent-em: #000000;
  --text-selection: #c6c6c659;
  --accent-h: 0;
  --accent-s: 0%;
  --accent-l: 31%;
  --interactive-accent-rgb: 79, 79, 79;

  --strong-em-highlight-color: #000000;
  --text-highlight-bg: #ecf56eb4;
  --mark-highlight-strong-em: #ecf56eb4;
  --text-search-highlight-bg: #ffd1dd;
  --strong-em-color-1: #08ae84;
  --strong-em-color-2: #01531d;

  --search-result-file-title-color: var(--text-normal);

  --color-specification: #0084ff;

  --background-blockquote: #b6b6b62c;
  --background-code: #ebebeb71;
  --background-code-2: #cccccc62;
  --text-color-code: #e95d00;

  --internal-link-color: #0040ff;

  /*list*/
  --list-ul-block-color: #313131;
  --list-ul-disc-color: #f39c55;
  --green-1: #3dc730;
  --list-ul-hover: #dd922f;
  --list-ol-block-color: #a2a2a2;
  --list-ol-number-color: #b5b5b5;
  --list-ol-hover: #4f8fcb;

  --tag-text: #5a5a5a;
  --stag1: #fa8787;
  --stag1-bg: #eb2727;
  --stag2: #fdbd5c;
  --stag2-bg: #ee9002;
  --stag3: #50ce3a;
  --stag3-bg: #22ac09;
  --tag1: #4f4f4f;
  --tag2: #4f4f4f;
  --tag3: #4f4f4f;
  --tag4: #4f4f4f;
  --tag5: #4f4f4f;
  --tag-dailynote: #0077ff;
  --tag-dailynote-bg: #277cdd;
  --tag-weeklynote: #4b9fff;
  --tag-weeklynote-bg: #6aafff;
  --tag-questions: #b68fff;
  --tag-questions-bg: #b085ff;
  --tag-ideas: #ceb900;
  --tag-ideas-bg: #444444d8;

  --h1-color: var(--print-h1-color, #000000);
  --h2-color: var(--print-h2-color, #000000);
  --h3-color: var(--print-h3-color, #000000);
  --h4-color: var(--print-h4-color, #000000);
  --h5-color: var(--print-h5-color, #000000);
  --h6-color: var(--print-h6-color, #000000);

  /*graph*/
  --graph-text-color: #696969;
  --graph-tag: #57bf5fcc;
  --graph-attach: #78b0e4cc;
  --graph-circle: #6a6a6acc;
  --graph-line: #b1b1b1;
  --graph-unresolved: #db4e4ecc;
  --graph-arrow: #e25300;
  --graph-control-bg: #ffffff9a;

  /*mermaid*/
  --mermaid-active-task-color: #44bbff;
  --mermaid-seq-dia-color: #76c8ff;

  /*table*/
  --table-border-color: #7d7d7d;
  --table-thead-background-color: #bdbdbdc7;
  --table-hover-raw-color: #f0f0f063;
  --table-hover-color: #e3e3e354;
  --table-hover-thead-color: #ebebeb54;

  /*calendar*/
  --calendar-week-color: #949494;
  --calendar-week-hover: #b5b5b52e;
  --calendar-week-background-color: #878787;
  --calendar-today-background-color: #aaeec6;

  /*day planner*/
  --day-planner-pie: #eca95c;
  --day-planner-timeline: #d62f2f;
  --day-planner-line: #ffd900;
  --day-planner-dot: #ffd900;
  --day-planner-item-hover: #474747;
  --event-item-color1: #b5b5b5;
  --event-item-color2: #a8a8a8;
  --event-item-color3: #a1a1a1;
  --event-item-color4: #969696;
  --event-item-color5: #8c8c8c;
  --event-item-color6: #828282;
  --event-item-color7: #787878;
  --event-item-color8: #707070;
  --event-item-color9: #666666;
  --event-item-color10: #595959;

  /*Sliding panes*/
  --sliding-panes-header-color: #000000;
  --background-4-sliding-pane: #ffffffef;

  --color-view-header-gradient-1: #ffffffef;
  --color-view-header-gradient-2: #ffffffef;

  --table-color-calendar-2: rgb(212, 212, 212);
  --table-color-rgb: 212, 212, 212;

  /*modal*/
  --my-modal-background: rgb(255, 255, 255);
  --dialog-max-width: 50%;
}

.metadata-menu.modal-container.note-fields-modal button {
  padding: 0 0 0.4em 0.4em;
  height: auto;
  box-shadow: none;
  background-color: var(--my-modal-background);
}

.metadata-menu.modal-container.note-fields-modal .insert-all-fields button {
  padding: 0 0 0.4em 0.4em;
  height: auto;
  box-shadow: none;
  background-color: var(--my-modal-background);
  margin-left: 0.4em;
}

.modal {
  margin-top: -5em !important;
  --checkbox-size: var(--font-ui-medium);
  background-color: var(--my-modal-background);
  border-radius: var(--modal-radius);
  border: var(--modal-border-width) solid var(--modal-border-color);
  padding: var(--size-4-4);
  position: relative;
  min-height: 100px;
  width: var(--dialog-width);
  max-width: var(--dialog-max-width);
  max-height: var(--dialog-max-height);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/*taskido*/
.taskido .quickEntryPanel {
  background: var(--interactive-normal) !important;
}

/*分割线*/
body.fancy-hr-icon .markdown-rendered hr {
  overflow: initial;
  margin-block-start: 3em !important;
  margin-block-end: 3em !important;
  border: none;
  height: 0;
  min-height: 0.7em;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image: linear-gradient(
      to right,
      transparent 0%,
      var(--hr-color-icon-1) 30%,
      var(--hr-color-icon-2) 46%,
      transparent 46%,
      transparent 54%,
      var(--hr-color-icon-3) 54%,
      var(--hr-color-icon-4) 70%,
      transparent 100%
    )
    1;
}

/*frontmatter 间距*/
.frontmatter-container .frontmatter-section-label {
  flex-basis: 5em;
}

.frontmatter-container {
  margin: 0em 0 1em 0;
}

/*引用*/
:is(.markdown-preview-view, .markdown-rendered) blockquote {
  padding: 0.5em 0.5em 0.5em 0.6em;
  border-right-width: 5px !important;
  border-left: solid;
  border-right: solid;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 5px;
  border-color: var(--theme-color);
  background-color: var(--background-blockquote);
  border-radius: var(--radius-s);
  margin-inline-start: 2.5%;
  margin-inline-end: 2.5%;
}

/*行内代码背景宽度*/
.markdown-rendered code {
  padding: 0px 0.2em 0 0.2em !important;
}

/*图标间隔*/
.workspace-tab-header-inner {
  padding: 2px 5px 0px 4.3px;
}

/*标题*/
:is(.markdown-preview-section, .markdown-rendered):not(:first-child) :is(h1) {
  margin-top: 2em !important;
  margin-bottom: 0em !important;
}

:is(.markdown-preview-view, .markdown-rendered) h2 {
  padding-top: 0.4em !important;
  font-size: var(--h2-size);
  line-height: 1.2;
  padding-bottom: 1px;
  font-family: var(--font-family-h2);
  color: var(--h2-color);
  font-weight: var(--font-weight-h2);
}

:is(.markdown-preview-section, .markdown-rendered):not(:first-child) :is(h3) {
  margin-top: 23px !important;
  margin-bottom: 23px !important;
}

:is(.markdown-preview-section, .markdown-rendered):not(:first-child) :is(h4) {
  margin-top: 23px !important;
  margin-bottom: 23px !important;
}

:is(.markdown-preview-section, .markdown-rendered):not(:first-child)
  :is(h5, h6) {
  margin-top: 1.1em !important;
  margin-bottom: 0px !important;
}

/*高亮仅在编辑模式显色，便于anki制卡*/
/*
.markdown-preview-view {
  --text-highlight-bg-l-light: 100% !important;
}
*/

/*
.search.svelte-rdace4.svelte-rdace4 {
    flex: 1;
    background: #645d5daa;
    border: none;
    font-size: var(--checklist-contentFontSize);
    border-radius: var(--checklist-listItemBorderRadius);
    padding: 0px 8px;
    color: #e8e6de;
    height: 100%;
}*/

/*侧边栏边线*/
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
  bottom: 0;
  left: 0;
  border-bottom-style: none;
  border-bottom-width: var(--divider-width);
  height: var(--divider-width-hover);
  width: 100%;
  cursor: row-resize;
}

/*状态栏*/

.status-bar {
  border-radius: 0px;
}
